#parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    transition: transform 3s;
    background: brown;
    position: absolute;
    transform: translate(200px, 200px);
    transition-timing-function: ease-in-out;
}


  
